@import "../../../scss/utils/mixin";

.container {
  height: 300px;
  overflow-x: scroll;
  padding: 20px;
  @include mq(tablet) {
    width: 40%;
  }
}

.list_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &:not(:first-child) {
    margin-top: 20px;
  }
}
.img_wrapper {
  width: 100px;
  height: auto;
  overflow: hidden;
}

.list_desc {
  font-size: 14px;
  font-weight: 600;
  &:not(:first-child) {
    margin-top: 6px;
  }
}
.btn_wrapper {
  border: 1px solid #ec8c2c;
  padding: 2px;
  border-radius: 4px;
  width: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 6px;
}
.text_wrapper {
  padding: 0 10px;
}

.list_btn {
  background-color: #ec8c2c;
  border-color: transparent;
  border-radius: 4px;
  padding: 6px;
  font-weight: 600;
  transition: all 300ms linear;
  color: #fff;
  &:hover,
  &:focus {
    cursor: pointer;
    text-shadow: 1px 1px 2px #427388;
    background: #eac224;
  }
}
.total {
  font-weight: 600;
  margin-top: 20px;
}
