@import "../../../scss/utils/mixin";

.main {
  background-color: rgba(0, 0, 0, 0.1);
  @include mq(tablet){
  display: flex;
  }
}
.nav {
  background: #283048;
  background: -webkit-linear-gradient(#283048, #859398);
  background: linear-gradient(#283048, #859398);
  padding: 20px;
  @include mq(tablet) {
    width: 30%;
    padding: 40px 20px;
  }
}
.nav_title {
  color: #fff;
  font-size: 14px;
  @include mq(tablet) {
    font-weight: 700;
    font-size: 24px;
  }
}
.nav_listItem {
  
  text-transform: capitalize;
  font-weight: 600;
  font-size: 12px;
  text-align: center;
  background-color: #fff;
  margin-top: 10px;
  border-radius: 4px;
  transition: all 300ms ease-in-out;
  &:hover,
  &:focus {
    cursor: pointer;
    transform: scale(1.1);
  }
  @include mq(tablet) {
    width: 70%;
    font-size: 16px;
  }
}
.nav_link {
  text-transform: capitalize;
  background-color: transparent;
  border-color: transparent;
  // display: block;
  padding: 20px;

}
.productsWrapper {
  padding-top: 40px;
  padding-bottom: 40px;
  margin: 0 auto;
}

.active {
  // border-radius: 4px;
  // background-color: rgb(216, 215, 212);
}
